{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Groupe 6/ESTIAM</title>
	<link rel="stylesheet" href="{%static 'assets/modules/bootstrap-5.1.3/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{%static 'assets/modules/bootstrap-icons/bootstrap-icons.css'%}">
</head>
<body>

    {% block content %}

    {% endblock %}

	<script src="{%static 'assets/js/atrana.js'%} "></script>
	<script src="{%static 'assets/modules/jquery/jquery.min.js' %}"></script>
	<script src="{%static 'assets/modules/bootstrap-5.1.3/js/bootstrap.bundle.min.js' %} "></script>
	<script src="{%static 'assets/modules/popper/popper.min.js' %}"></script>
	<script src="{%static 'assets/js/script.js'%} "></script>
	<script src="{%static 'assets/js/custom.js'%}"></script>
 </body>
</html>
